name: CI Build for Docker Action 
on:
  push:
    branches: [ main ]
    paths: [ hello-world-docker-action/** ]
        
jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - name: Run my own container action
        id: hello-action
        uses: ./hello-world-docker-action
        with:
          who-to-greet: '@wulfland'
          
      - name: Output time set in the container
        run: echo "The time was ${{ steps.hello-action.outputs.time }} when the action said hello"
